/* COMMON */
body{
    font-family: Arial, sans-serif;
}

.ms_container{
    height: 100%;
    /* padding-top: 5px; */
}

main .ms_container img{
    height: auto;
    width: 100%;
}

.jumbotron-main-container{
    height: 100%;
    /* padding: 0 20px; */
}

.ms_container-special-text{
    margin-top: 100px;
    margin-bottom: 50px;
}

.ms_container-special-text-image{
    flex-direction: column;
}

.ms_container-special-text-image img{
    height: auto;
    width: 100%;
}

.ms_container-special{
    height: 100%;
    /* margin: 0 20px; */
}

.main-special-text-c-v{
    flex-direction: column;
    justify-content: center;
}

.flex{
    display: flex;
}

.ms_btn-border-radius{
    border-radius: 20px;
}

.ms_btn-light{
    color: #2d64e6;
}

/* HEADER */
header{
    font-family: Helvetica, arial, sans-serif;
    z-index: 1;
}

.back-black{
    height: 30px;
    background-color: black;
}

.back-white{
    height: 70px;
    background-color: white;
}

.header-menu{
    align-items: center;
}

.header-list ul{
    list-style-type: none;
    align-items: center;
    margin-bottom: 0;
}

.header-list ul i{
    color: lightgray;
    margin-left: 2px;
}

.header-list li{
    margin: 0 10px;
}

.header-list li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 14px;
}

/* top */
.header-logo-s{
    height: 100%;
}

.header-logo-s img{
    height: 20px;
    width: auto;
}

.header-logo-top{
    justify-content: right;
}

/* bottom */
.header-logo-p{
    height: 100%;
}

/* bottom-right */
.header-menu-right{
    justify-content: flex-end;
}

.burger{
    padding: 5px 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
}

.header-right-list ul{
    padding: 0;
}

.header-lens img{
    width: 30px;
    height: auto;
}

.ms_btn-color-gray-header{
    background-color: #363636;
}

/* MAIN */
.jumbotron{
    background-repeat: no-repeat;
    background-position: top;
    color: white;
    justify-content: flex-start;
}

.back-returnal-main{
    background-image: url("../img/jumbo-bg.png");
    padding-top: 250px;
}

.jumbotron-main-container{
    flex-direction: column;
}

.jumbotron-main-container div{
    padding-top: 7px;
    padding-bottom: 7px;
}

.jumbotron-main-container img{
    width: 100%;
}

.jumbotron-main-container h2{
    font-size: 40px;
}

.jumbotron-main-container p{
    font-size: 20px;
}

.ms_btn-color-orange-main{
    background-color: #cd3d0f;
}

/* game image */
.game-image-round{
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 30px;
}

.game-image-round img{
    height: auto;
    width: 100%;
}

/* special text */
.main-special-text-c{
    text-align: center;
}

.main-special-text span{
    color: #2d64e6;
    font-weight: bold;
    font-size: 15px;
}

.main-special-text h2{
    color: black;
    font-size: 43px;
    margin-bottom: 25px;
}

.main-special-text h3{
    color: #727272;
    font-size: 20px;
    margin-bottom: 25px;
}

/* immagini accessori */
.border-selected-blue{
    border-bottom: 2px solid #2d64e6;
}

.immagini-accessori-container{
    margin-top: 30px;
    margin-bottom: 40px;
}

.immagini-accessori{
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.immagini-accessori-s{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.immagini-accessori span, .immagini-accessori-s span{
    text-align: center;
}

/* it takes two jumbotron */
.it-takes-two-main{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    padding-top: 50px;
}

/* nuove uscite */
.back-gray{
    background-color: #1f1f1f;
    color: white;
    padding-top: 30px;
    padding-bottom: 50px;
}

.back-gray h2{
    font-size: 35px;
}

.back-gray h3{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.back-gray h4{
    font-size: 20px;
}

.image-art-game{
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 15px;
}

/* Sezione PS Plus*/
.banner{
    margin-top: 130px;
    margin-bottom: 90px;
}

.banner-space{
    padding-top: 50px;
    padding-bottom: 50px;
}

.back-light-gray{
    background-color: #bebcbb;
}

.special-banner{
    margin-bottom: 30px;
}

.main-special-text-banner h3{
    color: black;
    font-size: 18px;
    margin-bottom: 25px;
}

/* sconti */
.img-sconti img{
    margin-top: 50px;
}

.back-blue{
    background-color: #161c3b;
}

.back-blue h3{
    color: white;
}

/* social */
.social{
    margin-top: 20px;
    margin-bottom: 90px;
}

.social-title{
    font-size: 30px;
}

/* MEDIA QUERY */
@media screen and (min-width: 576px){
    main .ms_container{
        padding: 0;
    }

    .back-gray h4{
        font-size: 18px;
    }
}

@media screen and (min-width: 768px) {
    .ms_container-special-text-image{
        flex-direction: row;
    }

    .immagini-accessori-space{
        padding: 0 30px;
    }
    
    .immagini-accessori-space-border{
        height: 100%;
    }

    .banner-space{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (min-width: 992px) {
    .back-returnal-main{
        padding-top: 215px;
    }

    .banner-space{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
